{% extends 'base.html.twig' %}
{% block mixpanel %}
    <script>
        mixpanel.track('500');
    </script>
{% endblock mixpanel %}
{% block body %}
<div class="hero">
    <div class="hero-background"></div>
    <div class="hero-overlay">
        <div class="hero-inner">
            <h1>uh oh!</h1>
            <h2>Something went wrong!</h2>
            <a class="btn btn-default" href="{{ path('homepage') }}">Home</a>
            </div>
    </div>
</div>
{% endblock body %}